.wrapper {
  display: flex;
  background-color: #3a9927;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.nav-left,
.nav-right {
  display: flex;
  /* background-color: #704545; */
  justify-content: flex-start;
  align-items: center;
}

.nav-mid-link {
  margin: 0 1rem;
}

.nav-right {
  margin-right: 2rem;
}

.logo {
  /* width: 2.5rem; */
  margin: 0.3rem 1rem;
}

.navbar {
  /* display: inline; */
  font-size: 1.5rem;
}

.auth-a {
  margin: 0 1rem;
  /* background-color: #4709aa; */
  text-decoration: none;
  font-size: 16px;
}

.auth-logout {
  margin: 0 1rem;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(180, 11, 11);
}

@media (max-width:767px) {
  .wrapper {
    flex-direction: row;
    min-height: 100px;
  }

  .navbar {
    flex-wrap: nowrap;
    max-width: 25px;
  }

  .nav-mid {
    display: flex;
    flex-direction: row;
  }

  .auth {
    display: flex;
    flex-direction: row;
  }
}