/* 僅 Home 主頁套用此樣式 */
/* Home.module.css 和 global.css 是內建的 後面可以刪掉 目前用作參考 */
.content {
  /* width: 20rem; */
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.video-wrapper {
  /* 調整視頻區域的大小 */
  flex-basis: 70%;
  border: 3px solid black;
  padding: 0;
  margin: 0;
  /* outline: 3px solid black; */
}

.queue-wrapper {
  flex-basis: 30%;
  margin-left: 20px;
  box-sizing: border-box;
  border: 3px solid black;
  /* outline: 3px solid black; */

  /* 調整排隊顯示區域的大小 */
  padding-left: 20px;
}

/* 動態切換排隊狀態的顏色:至於名稱是否更改為小駝峰，等邏輯移植完畢後再來修改 */
/* 可遊玩 */
.queueStatusDisplay-ready {
  color: rgb(74, 198, 219);
}

/* 等待中 */
.queueStatusDisplay-waiting {
  color: rgb(216, 138, 13);
}

/* 輪到你辣 */
.queueStatusDisplay-playing {
  color: rgb(113, 182, 8);
}

.action-buttons-area {
  border: 2px solid rgb(62, 80, 19);
  padding: 1rem 5rem;
  /* flex: 1; */
  width: 40rem;
}

.action-buttons-button {
  margin: 0 10px;
  font-size: 1.2rem;
  background-color: #942e2e;
  color: aqua;
}

.outside-link {
  text-decoration: none;
  color: rgb(47, 210, 228);
}
