/* 僅 Home 主頁套用此樣式 */
/* Home.module.css 和 global.css 是內建的 後面可以刪掉 目前用作參考 */
.content {
  /* width: 20rem; */
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* 為主畫面 container 增加一些樣式 方便對齊 */
.home-page-container {
  display: flex;
  background-color: #8d1212;
}

.video-wrapper {
  /* 調整視頻區域的大小 */
  flex-basis: 70%;
  border: 3px solid black;
  padding: 0;
  margin: 0;
  /* outline: 3px solid black; */
}

.queue-wrapper {
  flex-basis: 30%;
  margin-left: 20px;
  box-sizing: border-box;
  border: 3px solid black;
  /* outline: 3px solid black; */

  /* 調整排隊顯示區域的大小 */
  /* padding-left: 20px; */

  text-align: center;
}

.queue-button{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: larger;
  padding: 5px;
  background-color: #7f1e9c;
}

/* 動態切換排隊狀態的顏色:至於名稱是否更改為小駝峰，等邏輯移植完畢後再來修改 */
/* 可遊玩 */
.queueStatusDisplay-ready {
  color: rgb(74, 198, 219);
}

/* 等待中 */
.queueStatusDisplay-waiting {
  color: rgb(216, 138, 13);
}

/* 輪到你辣 */
.queueStatusDisplay-playing {
  color: rgb(113, 182, 8);
}

.action-buttons-area {
  border: 2px solid rgb(62, 80, 19);
  padding: 1rem 5rem;
  /* flex: 1; */
  /* width: 40rem; */
}

.action-buttons-button-disabled {
  opacity: 0.5;
  margin: 0 10px;
  font-size: 1.2rem;
  background-color: #663f3f;
  color: aqua;
  padding: 5px;
}

.action-buttons-button-available {
  margin: 0 10px;
  font-size: 1.2rem;
  background-color: #2e8715;
  color: aqua;
  padding: 5px;
}

.outside-link {
  text-decoration: none;
  color: rgb(47, 210, 228);
}

/* 排隊秒數 label */
.play-time-label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #24a76c;
}

/* 排隊秒數 顯示  */
.time-display {
  /* 加上漸變色 */
  /* transition: color 10s linear; */
  /* 初始顏色 */
  color: rgb(16, 218, 16);
}

.time-critical {
  /* 終點色 */
  color: red;
}

/* 排隊狀態 */
.queueStatusClass {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #24a76c;
}

@media (max-width:768px){
  .content {
    /* grid-template-columns: 1fr; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
  }

  .queue-wrapper{
    order: 1;
    margin: 0 2px;
    display: flex;
    justify-content: space-around;
  }

  .mobile-queue-1,
  .mobile-queue-2,
  .mobile-queue-3{
    margin: 0 2px;
  }

  .video-wrapper{
    order: 2;
  }

  .video-wrapper  iframe{
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
    framborder: 0;
  }
  
}