.sign-up-link,
.forget-password-link {
  margin-top: 1rem;
}

.redirect {
  margin-top: 2rem;
  text-align: center;
}

.redirect-a {
  margin-top: 1rem;
  display: block;
  color: rgb(31, 143, 143);
}
